# TODO this is probably out of date with Rails 4


<%
  def image_file?(file_name)
    %q(gif jpeg jpg png svg swf).include? File.extname(file_name)[1..-1].downcase
  end
  # get all image assets in a hash of file names to asset path
  assets = {}
  if self.respond_to? :asset_paths
    # bit of a hack to get available asset directories 
    env = asset_paths.instance_variable_get :@asset_environment
    env.paths.each do |path|
      files = Dir[path + '/**/*'].reject do |fn|
        File.directory?(fn) || !image_file?(fn)
      end
      files.each do |file|
        asset = file[path.length + 1..-1]
        assets[asset] = asset_path asset
      end
    end
  end
%>


assets =
<% assets.each do |image, path| %>
  <%= "'#{image}': '#{path}'" %>
<% end %>

    
pxcv.addHelpers

	imagePath: (image) -> assets[image] if assets[image]